body{
    float: center;
    width: 1100px;
}
a{
    font-size: 14px;
    line-height: 20px;
}




.item1 { grid-area: header; }
.item2 { grid-area: content; }
.item3 { grid-area: tekst; }
.item4 { grid-area: rechts; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'content content content rechts rechts'
    'tekst tekst tekst tekst tekst'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  
  li {
    float: left;
    padding-top: 20px;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  img{
      float: left;
  }
  .item1{
  background-image: url("../../img/header_bg.png");
  }