body{
    font-family: 'Archivo', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 550px 350px 180px 60px 186px 150px 450px 80px;
}
.grid-container-images{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 220px;
    column-gap: 33px;
}
.grid-container-split{
    display: grid;
    grid-template-columns: 50% 50%;
}
.logo{
    margin: 0px 0px 0px 130px;
    display:block;
}
nav{
    margin: 0px 0px 0px 85px;
    font-size: 12px;
    position: relative;
    top: 0px;
}
.banner{
    background-image: URL('../../B1W9O1-Handy/img/header.jpg');
}
.fotos{
    padding:50px 0 50px 0;
}
.ribbon{
    background-image:URL('../../B1W9O1-Handy/img/footer.jpg');
}
li{
    display: inline-block;
}
ul{
    background-color: black;
    position: relative;
    top: 22px;
    margin: 22px 25px 0px 25px;
    width: 750px;
}
a{
    color: white;
    line-height: 40px;
    margin: 0px 10px 0px 0px;  
}
.middenstuk{
   background-color: #ffe100;
   line-height: 0px;
}
.p1{
    color: black;
    font-weight: 700;
    font-size: 34px;
    padding: 55px 0 0 205px;
    display: inline-block;
}
.p2{
    font-weight: 700;
    font-size: 16px;
    padding: 0 0 0 20px;
    display: inline-block;
}
.button{
    background-color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 0 0 0 300px;
  padding: 0 40px 0 40px;
  line-height: 40px;
  font-weight: 600;
}
.max-width{
    width: 100%;
}
.centered{
    width: 1000px;
    margin: 0 auto;
}
.witstuk{
    margin: 45px;
}
.geelblok{
    background-color: #ffe100;
    line-height: 60px;
    width: 300px;
    display: inline-block;
    margin: 0 14px;
}
hr{
    width: 950px;
    color: grey;
}
.hoger{
    position:relative;
    bottom: 53px;
}
.contact{
    width: 415px;
    display: inline-block;
    padding:0 0 0 170px;
}
.icons{
    position: relative;
    left: 32px;
    top: 17px;
    display: inline-block;
}
.over-ons{
    width: 500px;
    display: inline-block;
}

p{
    display: inline-block;
}
.minititel{
    color: black;
    position: relative;
    left: 40px;
    right: 100px;
    bottom: 148;
    text-align: left;
    font-weight: 700;
    font-size: 22px
}
.minitext1{
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 25px;
    left: 105px;
}
.minitext2{
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 25px;
    left: 427px;
}
.minitext3{
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 25px;
    left: 761px;
}
.contact-text{
    margin: 15px;
}
footer{
    background-color: black;
}
.footer-wit{
    color: white;
    margin: 30px 0 0 950px;
}